# Dependencies
node_modules/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.*

# Logs
*.log

# editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build outputs
build/
dist/
.coverage
htmlcov/
